### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Mac ###
.DS_Store
*.DS_Store
.vscode

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.mvn
target/
/build/

*/**/node_modules
*/**/dist

### log ###
/log
*.log
*.log.*


{{publicPath}}