<!DOCTYPE html>
<html>
<body>

<form action="/file" method="post" enctype="multipart/form-data">
  选择图片:
  <input type="file" name="file">
  输入已托管token的授权店铺id:
  <input type="text" name="kdtId"/>
  <input type="submit" value="Upload Image" name="submit">
</form>

</body>
</html>